@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bgsoft:#182237;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
tr{
  text-align:left;
  width: 100%;
  display:table-row;
}
td{
  display: table-cell;
  margin: 10px 0px;
  padding: 10px 0px;
}
.product_detail{
  width: 230px;
}
.padding{
  background-color: rgba(128, 255, 0, 0.522);
  padding: 6px;
  border-radius: 6px;
}

